body {
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}

a {
    color: blueviolet;
}

.title {
    text-align: center;
}

img {
    border-radius: 10px;    
}

.center_img {
    text-align: center;
}

.center_img img {
    display: block;
    margin: auto;
}

